@charset "UTF-8";
@font-face {
  font-family: VCR;
  src: url(fontes/VCR_OSD_MONO_1.001.ttf);
}
body{
  background-color: #F2F2F1;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
nav{
  background-color: #C4CFE8;

}

#frente{
  position: absolute;
}
h1{
  font-family: VCR;
  text-align: center;
}
.icon {
    width: 20px;
    height: auto;
}
ul{
  text-align: center;
  list-style: none;
}
li{

  display: inline-block;
}

.card {
    min-width: 400px;
    max-width: 33%;
    display: inline-block;
    
    
    box-shadow: 0 4px 4px 0 #C4CFE8;
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 #283A52;
  }
  
  #fechar {
    border-radius: 8px;
  }

  .container {

    padding: 2px 16px;
  }
.video {
  display: contents;
  display: inline-block;
}

#videos{ 
  display: inline-block;
}
.item{
  padding: 3%;
}
.item:hover{
  box-shadow: 10px 5px 5px rgb(192, 192, 192);
}
#elementoimagem{
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#frente{
   width: 70%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
 }
#fechar{
  border-radius: 8px;
  color: #C4CFE8;
  opacity: 90%;
}
iframe{
  min-width: 400px;
  max-width: 32%;
  height: 315px;
}
textarea{
  width: 500px;
  height: 120px;
}
#enviar{
  border-radius: 8px;
  color: green;
}
.footer{
  position: bottom;
  bottom: 0;
  max-width: 100%;
  width: 1400px;
  height:60px;
  background-color:#C4CFE8;
}
